:root {
  --text: #334e68;
  --text-h: #102a43;
  --bg: #f0f4f8;
  --border: #d9e2ec;
  --code-bg: #e6f6f9;
  --accent: #334e68;
  --sans: 'Inter', system-ui, -apple-system, sans-serif;
  
  font-family: var(--sans);
  color-scheme: light;
  color: var(--text);
  background-color: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  color: #102a43;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f4f8;
}
